@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="table">
        <h1>Latest Authors</h1>
        <table border="1" width="100" cellpadding="10" cellspacing="10">
            <tr>
                <th>Name</th>
                <th>Book Title</th>
                <th>Published Date</th>
            </tr>
            <tr>
                <td>Emeka Pollga</td>
                <td>Leave Like a Ghost</td>
                <td>12-2-2020</td>
            </tr>
            <tr>
                <td>Damsel Wright</td>
                <td>Above Gangster</td>
                <td>11-3-2020</td>
            </tr>
            <tr>
                <td>Micheal David</td>
                <td>Always Wining</td>
                <td>1-4-2020</td>
            </tr>

        </table>
    </div>
